@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

footer{
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 92vw;
    transition: 1s;
    text-align: center;
    font-size: 2rem;
    overflow: hidden;
    z-index: 2;
    &:hover {
        height: calc(100vh - 60px);
    }
    
    .footer__p {
        height: 60px;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 92vw;
        transition: 1s;
        z-index: 3;
    }
    .footer__p p {
        margin: 0;
    }
    &:hover .footer__p{
        bottom: calc(100vh - (60px));
    }

    img{
        width: 60px;
    }
    
    .infa{
        height: calc(100vh - (120px));
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .infa img{
        transition: 0.5s;
    }
    .infa>div{
        height: 100%;
        display: flex;
        flex-direction: column;
        p{
            margin: 0;
        }
    }
    .sot-seti{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 1 1 auto;
    }
    .sot-set{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__footer{
        height: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .footer__footer img{
        height: 35px;
        width: auto;
        transition: 0.4s;
    }
    .reactICO{
        animation: spin 10s linear 0s infinite;
    }
    
}












