@keyframes img-anima {
    0%{
        position: relative;
        bottom: calc(8vw * (38400 / 3877) / 2);
    }
    100%{
        position: relative;
        bottom: 0vw;
    }
}

.sider{
    text-align: center;
    width: 8vw;
    height: 100vh;
    display: flex;flex-direction: column-reverse;
}

.img-div-anima{
    bottom: 0vw;
    overflow: hidden;
    width: 8vw;
    min-height: calc(8vw * (38400 / 3877) / 2);
}

.img-div-anima img {
    width: 100%;
    position: relative;
    animation-name: img-anima;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(1, 1, 1, 1);
}



