@keyframes sider-anima {
    from{
        position: relative;
        bottom: calc(8vw * (38400 / 3877) / 2);
    }
    to{
        position: relative;
        bottom: 0vw;
    }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.sider{
    text-align: center;
    width: 8vw;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    z-index: 1;

    .sider-anima{
        bottom: 0vw;
        overflow: hidden;
        width: 8vw;
        min-height: calc(8vw * (38400 / 3877) / 2);
    }

    img {
        width: 100%;
        position: relative;
        animation: sider-anima 7s linear 0s infinite;
    }
}

