:root {
    --main-red-color: #fc1321;
    --main-green-color: #b0fe30;
    --main-yellow-color: #febc14;
    --main-pink-color: #fe1ab4;
    --main-footer-infa-color: #343434;
    --main-footer-active-color: #191919;
}

/* sider */

.sider{
    background-color: var(--main-footer-active-color);
}

/* content */

.content{
    background-color: var(--main-footer-infa-color);
}

/* header */

.header{
    background-color: var(--main-footer-active-color);
    color: rgb(255, 255, 255);
}

.ul__btn {
    #оригінальний{
        &:hover{
            color: var(--main-red-color);
        }

        &::before {
            background-color: var(--main-red-color);
        }
    }

    #ківі-полуниця{
        &:hover{
            color: var(--main-green-color);
        }
    
        &::before {
            background-color: var(--main-green-color);
        }
    }

    #манго-апельсин{
        &:hover{
            color: var(--main-yellow-color);
        }
    
        &::before {
            background-color: var(--main-yellow-color);
        }
    }

    #журавлина{
        &:hover{
            color: var(--main-pink-color);
        }
    
        &::before {
            background-color: var(--main-pink-color);
        }
    }
}

.red #оригінальний {
    color: var(--main-red-color);
}

.green #ківі-полуниця {
    color: var(--main-green-color);
}

.yellow #манго-апельсин {
    color: var(--main-yellow-color);
}

.pink #журавлина {
    color: var(--main-pink-color);
}

/* footer */

footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);

    a{
        color: rgb(255, 255, 255);
    }

    img{
        background-color: rgb(255, 255, 255);
    }

    .infa{
        background-color: var(--main-footer-infa-color);
    }

    .footer__footer{
        background-color: var(--main-footer-active-color);
    }
} 

#red footer{
    .footer__p{
        background-color: var(--main-red-color);
    }

    a{
        &:hover{
            color: rgb(255, 255, 255);
            img{
                background-color: var(--main-red-color);
            }
        }
    
        &::before {
            background-color: var(--main-red-color);
        }
    }
}
#green footer{
    .footer__p{
        background-color: var(--main-green-color);
    }

    a{
        &:hover{
            color: rgb(255, 255, 255);
            img{
                background-color: var(--main-green-color);
            }
        }
    
        &::before {
            background-color: var(--main-green-color);
        }
    }
}
#yellow footer{
    .footer__p{
        background-color: var(--main-yellow-color);
    }

    a{
        &:hover{
            color: rgb(255, 255, 255);
            img{
                background-color: var(--main-yellow-color);
            }
        }
    
        &::before {
            background-color: var(--main-yellow-color);
        }
    }
}
#pink footer{
    .footer__p{
        background-color: var(--main-pink-color);
    }

    a{
        &:hover{
            color: rgb(255, 255, 255);
            img{
                background-color: var(--main-pink-color);
            }
        }
    
        &::before {
            background-color: var(--main-pink-color);
        }
    }
}